In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

% matplotlib inline
sns.set(font_scale=1)

In [3]:
df = pd.read_csv('exchange-2_cpc_results.csv')
df.head()

             timestamp     value
0  2011-07-01 00:00:01  0.081965
1  2011-07-01 01:00:01  0.098972
2  2011-07-01 02:00:01  0.065314
3  2011-07-01 03:00:01  0.070663
4  2011-07-01 04:00:01  0.102490